.projectsContainer {
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 70px 210px 0 210px;
}

.gridContainer {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 600px);
    gap: 100px;
}

.gridItem {
    width: 100%;
    background-color: var(--mainWhite);
    border-radius: 16px;
    overflow: hidden;
    border: 2px solid var(--primary);
}

.gridItem img {
    height: 70%;
}

.textContainer {
    height: 30%;
    background-color: var(--fifth);
    color: var(--primary);
    padding: 20px 40px 0 40px;
}