@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #1A1A1A;
    --secondary: #555555;
    --third: #959595;
    --fourth: #BFBFBF;
    --fifth: #C8C8C8;
    --mainWhite: #eeeeee;
  }

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    height: fit-content;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(imgs/wpp-2.jpg);
}
